// Specific CSS for your home-page
.banner {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/331/66/547/nature-leaves-water-drops-closeup-wallpaper-preview.jpg);
  padding: 250px 0;
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#titulo {
  color: white;
  font-size: 60px;
}

#foto {
  //background-image: center;
  //background-size: cover;

}


