// Import page-specific CSS files here.
@import "home";
@import "recycle";
@import "categories";
@import "about";
@import "detailproduct";





form{
	width:400px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:rgb(80, 155, 11);
}