.banner4 {
  background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/4SZBWXH22ZH4BBROGRPRIY7ZQI.jpg);
  padding: 350px 0;
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p{
  text-align: justify;
}
