<div class="banner3">
   <div class="container d-flex">
     <div class="left">
        <h1 class="text-left" id="titulo-about">Acerca de grupo verde</h1>
        <h3><strong>Entregamos productos sustentables</strong><h3>
        <h3><strong>cuidando el medio ambiente. </strong></h3>
     </div>
    <div class="right">
      <div class="text-right">
            <h2><strong> Reciclamos</strong></h2>
            <p>  Los residuos plasticos pet para utilizarlos de materias primas </strong> </p>
            <h2><strong> Fabricamos </strong></h2>
            <p> Bajo el modelo de economia circular </p>
            <h2><strong> Innovamos </strong></h2>
            <p> En el dise単o y en nuestro procesos de produccion </p>
      </div> 
    </div>
 </div>
</div>
<div class="card-body">
        <h3 class="card-title-center"><strong>多Porque elegirnos?</strong></h3>
        <p class="card-subtitle mb-5 text-muted">Actualmente, las empresas dedicadas a dar soluciones a los problemas emedioambientales son pocas, pero van en aumento, nosotros queremos ser parte de quienes buescan crear nuevos protectos que colaboren con la disminucion de residuos plasticos que da単an nuestras playas , parques y areas verdes-
            xon esto en mnete quisimos darle un nuevo uso a los residuos que obtuvimos en el proceso de reciclaje y elaborarmos productos decorativos para crear espacio unicos en tu hogar.
            cada producto a sido creado pensando en un dise単o personalizadoy unico que permita decorar los hogares de quienes nos eligen , al mismo tiempo en que ofrecemos un producot con historia, dandole una segunda oportunidad a los residuos que contamin en medio ambiente.</p>
        <h5 class="card-text"> <em> Ayudanos a descontaminar nuestras areas verdes para crear un mundo mucho mas sustentable y limpio.</em> </h5>
        <a href="#" class="btn btn-succes btn-lg mt-5"role="button" data-bs-toogle="button">Volver</a>
</div>
