
<div class="banner">
<div class="container">
<h2 class="text-end" align="right">End aligned text on all viewport sizes.</h2>
</div>
</div>
<br> </br>
<ul>
<form method="POST" action="#">
<! –– <input type="text" name="recipient" value="">
<! –– <input type="hidden" name="subject" value="Asunto del Email">
<! –– <input type="hidden" name="redirect" value="#">
Tu nombre: <br />
<input type="text" name="nombre" size="20"><br />
Tu Email:<br />
<input type="text" name="email" size="20"><br />
Tu mensaje:<br />
<input type="text" name="mensaje" size="100"><br />
<input type="submit" value="Enviar"></form>
</ul>
