<div class="bannerContact">
<div class="container-fluid">
<h2 class="text-center" id="titulo">Contact</h2>
      <h2 class="text-center" id="titulo"></h2>
    </div>
<div class="container">
<h2 class="text-end" align="right"></h2>
</div>
</div>
<script type="text/javascript" src="javascript.js"></script>

<br> </br>
<div class="container" align="left">

<ul>
<body>


<center>



<form method="#" id="formul" action="#">
<! –– <input type="text" name="recipient" value="">
<! –– <input type="hidden" name="subject" value="Asunto del Email">
<! –– <input type="hidden" name="redirect" value="#">
your name: <br />
<input type="text" name="name" id="nombre"  size="20"><br />
your email:<br />


<input type="text" name="email" id ="correo" size="20"><br />
your message:<br />


<textarea id="mensaje" class="input" name="message" rows="7" cols="30"></textarea><br />


<button onclick="#" id="boton1">enviar</button>

<script>
var nombre1 = document.getElementById('nombre').value;
var correo1 = document.getElementById('correo').value;
var mensaje1 = document.getElementById('mensaje').value;

document.getElementById('boton1').onclick = function(){

    alert("El mensaje fue enviado correctamente!");

}
</script>
</form>
</ul>
</div>
</center>
   
</body>

