<html>
<body>
  <div id="banner">
     <h1 class="text-justify">¿Quieres reciclar?</h1>
    <pclass="text-justify">Si quieres ayudarnos en la tarea de recolectar el plastico que necesitamos
     para crear nuestros productos, acercate a nuestros puntos de reciclaje de la ciudad.</p>
  </div>
</body>
</html>