<div class="banner">
</div>
<br>
<br>
<br>
<div class="container">
  <h2 class="text-center">¿Quieres Reciclar?</h2>
  <p class="text-center">Si quieres ayudarnos a recolectar el plastico que necesitamos para crear nuestros productos, acercate a los puntos de reciclje de la ciudad.</p>
</div>

<a class="btn btn-flat" href="#">Book now</a>
<%= link_to "Book now", "#", class: "btn btn-flat" %>