.footer {
  background-color: white;
}

.footer ul {
  list-style: none;
}

.footer a {
  //color: black;
  text-decoration: none;
  --bs-text-opacity: 1;
  color: #6c757d!important;
}

#logonombre {
  color: #025042;
}