<div class="banner">
    <div class="container">
      <h2 class="text-end">End aligned text on all viewport sizes.</h2>
    </div>
</div>
<center>
<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>

<ul>
  <% @categories.each do |category| %>
    
    <%= link_to category.name, category_path(category) %> 
    
  <% end %>
  </center> 
  </ul>
  
  <div class="cards">
  <div align="left" ><img src="https://chile-labs.cl/util/img/Maceteros.JPG"></div>
  <div align="center"><img src="https://chile-labs.cl/util/img/Pastelon_Basico.JPG"></div>
  <div align="right"><img src="https://chile-labs.cl/util/img/Limpiapies.JPG"></div>

<div class="row">
<div class="col-sm  m-b-30">
<div class="card" style="width: 25rem;">
  <img src="https://chile-labs.cl/util/img/Maceteros.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Maceteros</h5>
    <p class="card-text">Estiliza tu jardín para que tus plantas destaquen entre las demás, de una forma consciente con el medioambiente.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

<div class="col-sm  m-b-30">
<div class="card" style="width: 25rem;">
  <img src="https://chile-labs.cl/util/img/Pastelon_Basico.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fw-bold">Pastelones</h5>
    <p class="card-text">Una composición duradera y de calidad para tu piso, con la garantía y certificación de la Universidad del BioBio.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

<div class="col-sm  m-b-30">
<div class="card" style="width: 25rem;">
  <img src="https://chile-labs.cl/util/img/Limpiapies.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Limpiapies</h5>
    <p class="card-text">Hechos 100% de material reciclado, son la alternativa ecológica para que ensucies tu casa cada vez que entras ella.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>

