<div class="bannercategories">
  <div class="container">
     <div class="row">
      <div class="col-sm  m-b-30">
      </div> 
      <div class="col-sm  m-b-30">
      </div>
      <div class="col-sm  m-b-30">
        <h1 class="" align="right">Categoría de Productos</h1>
      </div> 
    </div>     
  </div>
</div>

<div class="categorias container">
<div class="targeta1 card bg-dark text-white my-5" align="center">
  <img src="https://greenbricks.cl/wp-content/uploads/2019/12/KADU.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "PASTELONES", category_path(2)%> 
    <p class="card-text">Una composición duradera y de calidad para tu piso, con la garantía y</p>
    <p class="card-text" style="margin:-2.0% 0;">certificación de la Universidad del BioBio.</p>
  </div>
</div>

<div class="targeta2 card bg-dark text-white my-5" align="center">
  <img src="https://images.squarespace-cdn.com/content/v1/558095e4e4b095c5b4d764ee/1602278477469-MY24PKABT9PS1NY97B44/IMG_1650.JPG?format=2500w" class="card-img" alt="...">
  <div class="card-img-overlay">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "MACETEROS", category_path(1)%> 
    <p class="card-text align-bottom">Estiliza tu jardín para que tus plantas destaquen entre las demás,</p>
    <p class="card-text" style="margin:-2.0% 0;">de una forma consciente con el medioambiente.</p>
  </div>
</div>

<div class="targeta3 card bg-dark text-white" align="center">
  <img src="https://www.qrubber.com.pe/imgmodulo/imagengaleria/106.png?time=1562261424" class="card-img" alt="...">
  <div class="card-img-overlay">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <%= link_to "LIMPIAPIES", category_path(3)%> 
    <p class="card-text pb-0">Hechos 100% de material reciclado, son la alternativa ecológica</p>
    <p class="card-text" style="margin:-2.0% 0;">para que no ensucies tu casa cada vez que entras ella.</p> 
 </div>
</div>
</div>

